'
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

body {
    font-family: Georgia, serif;
    font-size: large;
    background-color: #D9C6B0;
}

#header {
    font-size: 25px;
    color: #000000;
}

#tagline {
    font-size: 19px;
    color: #59463B;
}

#container {
    width: 1000px;
    margin: 0 auto;
    background-color: #D9C6B0
}

ol#menu {
    list-style: none;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-right: 30px
    font-size: 21px;
    color: #59463B;
    float: right;
}

ol#menu li {
    text-align: right;
    padding-right: 30px;
}

#content h2 {
    font-size: 36px;
    color: #59463B; 
}

#content h3 {
    font-size: 21px;
    color: #8C7A69;
}

#content p {
    font-size: 16px;
    color: #402116; 
}

#main .thumbnails {
  display: flex;
}
#main .thumbnails>div{
  flex-grow: 1;
  margin-right:16px;
  margin-left:16px;
}
#main .thumbnails a{
  margin-bottom: 20px;
  display: block;
}
#main .thumbnails img{
  width:100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 5px;
  display: block;
}
#main .thumbnails h3{
  border-top:1px solid rgba(255,255,255,0.3);
  border-left:1px solid rgba(255,255,255,0.3);
  border-right:1px solid rgba(255,255,255,0.3);
  border-bottom:1px solid rgba(255,255,255,0.3);
  padding:16px;
  text-align: center;
  background-color: #ffffff;
  opacity: 25%;
  font-size:15px;
  font-color: #59463B;
  font-weight: 200;
}

#footer {
    font-size: 18px;
    color: #8C7A69;
    margin:0 auto;
    text-align:center;
    padding-top: 20px;
    padding-bottom:60px;
    margin-top: 40px;
}